<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>App</title>
</head>

<body>

<div>

    {{> partials_navigation-area}}


        {{#each pageData.routes}}
            <a href="/{{this.routeActual}}" style="display: inline-block"> {{this.routeAlias}} </a>
        {{/each}}
</div>
{{{body}}}

</body>

</html>