<div class="form-component">
    <form method="POST" action="/" class="form-component__form">
      <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="formValue" value="ExampleName"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>