<div class="admin-login">
    <form>
        <label for="username">
            <input type="text" id="username" placeholder="User Name" name="username">
        </label>
        <label for="password">
            <input type="password" id="password" name="password">
        </label>
        <a onclick="login()">Login</a>
    </form>

    <script>
        
        function login(event) {

            var loginDetails = {
                username: document.querySelector('#username').value,
                password: document.querySelector('#password').value
            }

            if ((loginDetails.username.length > 0) && (loginDetails.password.length > 0)) {
                fetch("/admin17/login",
                    {
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        method: "POST",
                        body: JSON.stringify(loginDetails)
                    })
                .then(function(res) { 
                    res.json().then(function(token) {
                        console.log('token', token)
                    })
                })
                .catch(function(res) { 
                    console.log('res', res) 
                }) 
            } else {
                alert('Bad login.');
            }
            
        }
    </script>
</div>